﻿@model IEnumerable<MVC.Models.CharacterModels>

@{
    ViewBag.Title = "All Characters";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House)
        </th>
        <!-- <th>
            @Html.DisplayNameFor(model => model.Characteristics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationShips)
        </th> -->
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House.Name)
        </td>
        <!-- <td>
            @Html.DisplayFor(modelItem => item.Characteristics)
        </td>
        <td>
		@foreach (var rel in item.RelationShips) {
			<td>
				@Html.DisplayFor(modelItem => rel.CharacterID))
			</td>
			<td>
				@Html.DisplayFor(modelItem => rel.Type))
			</td>
			}
        </td> -->
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
