﻿@model IEnumerable<MVC.Models.HouseModels>

@{
    ViewBag.Title = "All Houses";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbUnits)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbUnits)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.ID}) |
            @Html.ActionLink("Delete", "Delete", new {id=item.ID })
        </td>
    </tr>
}

</table>
