﻿@model MVC.Models.FightModels

@{
    ViewBag.Title = "Create Fight";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Challenger1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Challenger1.ID, ViewBag.ListHouses as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Challenger1, "", new { @class = "text-danger" })
				@Html.ActionLink("Create new house", "../House/Create")
            </div>
        </div>
		
        <div class="form-group">
            @Html.LabelFor(model => model.Challenger2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Challenger2.ID, ViewBag.ListHouses as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Challenger2, "", new { @class = "text-danger" })
				@Html.ActionLink("Create new house", "../House/Create")
            </div>
        </div>
		
        <div class="form-group">
            @Html.LabelFor(model => model.War, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.War.ID, ViewBag.ListWar as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.War, "", new { @class = "text-danger" })
				@Html.ActionLink("Create new war", "../War/Create")
            </div>
        </div>
		<div class="form-group">
            @Html.LabelFor(model => model.Territory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Territory.ID, ViewBag.ListTerritories as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Territory, "", new { @class = "text-danger" })
				@Html.ActionLink("Create new territory", "../Territory/Create")
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Fight !" class="btn btn-primary" />

                </div>
            </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
